<footer>
  <div class="container footerStyle">
    <div class="footerFlex">
      <div class="menuFlex">
        <div class="columna1">
          <h5 class="tituloFooter">Mapa de sitio</h5>
          <ul class="mapaFooter">
            <li><a href="/">Home</a></li>

            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/formacion">Formación</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="columna2 ">
          <h5 class="tituloFooter">Quienes somos</h5>
          <p>
            Somos un equipo de profesionales que brinda Servicio de Consultoría y Asesoramiento en materia de Seguridad,
            Higiene y Medio Ambiente. Además, prestamos Servicio de Mediciones de todas las variables relacionadas con
            la materia.
          </p>
        </div>


        <div class="columna3 ">
          <div class="columna3-1">
            <form action="" onsubmit="return validarSubNews()">
              <h5 class="tituloFooter">
                Subscribe a nuestro newsletter </h5>
              <div>
                <div class="p-1">
                  <label for="subNews" class="visually-hidden"> Email</label>
                  <input id="subNews" type="email" class="form-control" placeholder="Email" />
                </div>
                <div class="p-1 text-end">
                  <button class="btn btn-secondary" type="submit">
                    Subscribe
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="columna3-1">
            <h5 class="tituloFooter">Nuestras redes</h5>

            <ul class="redes">

              <li class="logoRedes">
                <a href="#"><img src="assets/iconos/facebook-fill.svg" alt="facebook"></a>
              </li>

              <li class="logoRedes">
                <a href="#"><img src="assets/iconos/twitter-fill.svg" alt="twitter"></a>
              </li>

              <li class="logoRedes">
                <a href="#"><img src="assets/iconos/instagram-fill.svg" alt="instagram"></a>
              </li>

              <li class="logoRedes">
                <a href="#"><img src="assets/iconos/linkedin-fill.svg" alt="linkedin"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footerCreditoFinal">
    <span>
      Desarrollado por <strong>Maximiliano&#174</strong> 2021
    </span>
  </div>
  </div>
</footer>