<header class="border-bottom border-3">
    <div class="bg-info bg-opacity-10 text-center pt-4 pb-3 ">
        <h3 class="text-secondary"> {{encabezado}}</h3>
    </div>
    <nav class="container" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{nombre}}</li>
        </ol>
    </nav>
</header>