<header>
    <div class="container">
        <div class="menuLogin">
            <ul class="botonLogin">
                <li><a href="#">Acceso a Clientes</a></li>
                <li><a href="#">Aula virtual</a></li>
            </ul>
        </div>
    </div>
</header>