<!DOCTYPE html>
<html lang="es">

{{>head}}

<body class="container bg-primary d-flex justify-content-center align-items-center" style="height: 100vh">

  <form class="bg-light  rounded-pill p-5" style="height: 500px; width:500px;">
    <div class="text-center pb-3">
      <img src="assets/img/logo1.png" alt="logo" width="100" height="100">
      <h3>App AIM-Service</h3>
    </div>
    <div class="text-center">
      <label for="" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="">
      <label for="" class="form-label pt-3 ">Contraseña</label>
      <input type="password" class="form-control" id="">
      <div class="pt-3"><button type="submit" class="btn btn-outline-primary">ACCEDER</button>
      
      </div>
    </div>
  </form>

</body>

</html>