<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
</head>
<body>
    
    {{>nav}}
    <header class="border-bottom border-3 ">
        <div class="bg-info bg-opacity-10 text-center pt-4 pb-3 ">
            <h3 class="text-secondary"></h3>
        </div>
        <nav class="container" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-1">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Contacto</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{nombre}}</li>
            </ol>
        </nav>
    </header>

    <div class="container" style="height: 500px;">
    <h5 class="text-center mt-3 mb-3"> Su consulta fue enviada con éxito. En breve nos comunicaremos con usted. Gracias.</h5>
    </div>
    

    {{>footer}}


</body>
</html>