<!DOCTYPE html>
<html lang="es">

{{>head}}

<body class="">
  <div class=" " style="background: url('/assets/img/bg-login.jpg') no-repeat; background-size: cover">

    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">

      <div class="bg-light rounded-pill opacity-75 text-center p-2" style="height: 500px; width: 500px">

        <div class="p-2">
          <img src="assets/img/logo1.png" alt="logo" width="125" height="125">
          <h3>App AIM-Service</h3>
        </div>
        <form class="text-center p-3">
            <label for="" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="" >
            <label for="" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="" >
          <div class="pt-3">
            <button type="submit" class="btn btn-outline-primary">ACCEDER</button>
          </div>

        </form>

      </div>
    </div>
  </div>

</body>

</html>