<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
</head>

<body>

    {{>header}}
    {{>nav}}

    <h3> Nosotros</h3>

    {{>footer}}

    <!-- Libreria popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>

    <!-- Archivo js compilado -->
    <script src="js/bootstrap.min.js"></script>

    <!-- js main -->
    <script src="js/main.js"></script>
</body>

</html>