<!DOCTYPE html>
<html lang="es">

{{>head}}

<body>
    {{>nav}}
    {{>header}}
    
    <div class="container">
        <div class="d-flex justify-content-center pt-3 pb-3">
        <img src="/assets/img/aim-empresa.jpg" alt="">
        </div>
        <div>
        <p> Fue fundada en 2019 y desde entonces está abocada en condición de especialista al diseño, provisión, instalación, entrenamiento, mantenimiento, calibración y reparación de sistemas e instrumental dedicado al monitoreo puntual y continuo y al resguardo de la Salud Ocupacional y el Medio Ambiente.
        </p>
        <p> AIM Service presta Servicio de Mediciones de todas las variables relacionadas con la Higiene Ocupacional y el Medio Ambiente.En las mismas áreas ofrecemos servicios de consultoría e ingeniería para el cumplimiento de requisitos legales e iniciativas particulares.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id a incidunt maxime ratione. Nihil porro eos nemo veniam ipsa provident quibusdam doloribus accusamus, blanditiis, vitae quaerat cupiditate temporibus sit nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos deleniti consectetur incidunt, porro corrupti eaque consequuntur earum velit. Recusandae expedita quidem id. Ipsa omnis incidunt quibusdam qui optio repellendus dolorem?</p>
        </div>
    </div>

    {{>footer}}
   </body>
</html>