<!DOCTYPE html>
<html lang="es">

{{>head}}

<body>
    {{>nav}}
    {{>header}}

<div class="container ">
            <div class="d-flex flex-md-column-reverse flex-lg-row-reverse mt-3 mb-3">
            <div class="bg-primary m-2" style="width:30%; height: 600px;">
                <h6 class="text-center">Carrito de Compras en proceso.</h4>
            </div>

         <table class="table align-middle " id="mytable">   
            <thead class="text-center">
                <th>ID</th>
                <th>Nombre</th>
                <th>Características</th>
                <th>Precio</th>
                <th>Comprar</th>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td class="text-center">{{ id_producto}} </td>
                    <td>{{ nombre_producto }} </td>
                    <td>{{ descripcion}} </td>
                    <td class="text-center"> ${{ precio_producto }} </td>

                    <td class="text-center">
                        <button class="btn btn-outline-secondary"><i class="fas fa-plus-circle"></i></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
    </div>
 
    {{>footer}}
   </body>
</html>