<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
</head>

<body style="height: 100vh;">
    {{>nav}}
    {{>header}}

    <section class="container mt-3 mb-3">
        <div class="fs-5 ">
            <p> Servicio de Medición de contaminantes. Servicio de Venta, Instalación, mantenimiento, calibración y
                reparación de instrumental y equipos de medición en Higiene Ocupacional y Medio Ambiente.</p>
        </div>

        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Calibración y Servicio Técnico
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse "
                    aria-labelledby="panelsStayOpen-collapseOne">

                    <div class="accordion-body d-inline-flex row p-3">
                        <div class="p-2 col-md-12 col-lg-6">
                            <p>Control, calibración y certificación de instrumentos de higiene y medio ambiente en
                                nuestras instalaciones y/o ubicaciones indicadas por el cliente.</p>

                            <p>Todo instrumental o equipo de medición requiere una periódica verificación de su
                                estado para
                                asegurar la calidad de las mediciones.</p>

                            <p>El mejor método para verificar el correcto funcionamiento de un instrumento es la
                                calibración, realizándola en un laboratorio especializado y certificado.</p>

                            <p>AIM Service cuenta con personal técnico entrenado en las sedes de los principales
                                fabricantes de instrumentos para realizar instalaciones, calibraciones y/o
                                reparaciones,
                                siguiendo los procedimientos e instrucciones de origen. También contamos con el
                                fluido
                                soporte técnico directo de las compañías fabricantes.</p>
                        </div>
                        <div class="p-2 col-md-12 col-lg-6 text-center">
                            <img src="/assets/img/servicios1.jpg" alt="calibraciones">
                        </div>
                    </div>

                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header " id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Servicios de Mediciones
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body d-inline-flex row p-3">
                       
                            <div class="p-4 col-md-12 col-lg-6">
                                <p>Brindamos asesoramiento profesional integral a través de visitas regulares, estudios
                                    y
                                    mediciones con duración y frecuencia pactadas (conservando la representatividad), y
                                    de esa forma
                                    atender adecuadamente cada requerimiento, respetando las exigencias de las
                                    normativas
                                    establecidas por los organismos de control.
                                </p>

                            </div>
                            <div class="col-md-12 col-lg-6 text-center">
                                <img src="/assets/img/servicios2.jpg" alt="calibraciones">
                            </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Análisis Químicos
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <div class="accordion-body d-inline-flex row p-3">         
                                <div class="p-4 col-md-12 col-lg-6">
                                    <p>Análisis de muestras obtenidas en procesos de medición utilizando los métodos
                                        EPA aplicables a Fuentes Fijas, métodos OSHA o NIOSH aplicables a Higiene y
                                        Salud Ocupacional, y más.</p>
                                    <p>Son realizados por laboratorios especializados y certificados bajo los
                                        procedimientos analíticos establecidos en los métodos.
                                        Desde complejos instrumentales como Variedades de Sílice cristalina por
                                        Difracción de Rayos X y Elementos desde Sodio a Uranio por Fluorescencia de
                                        Rayos X, hasta simples gravimetrías y cromatografías.</p>
                                    <p> Nos ocupamos de TODO desde la Recepción, Cadena de Custodia,
                                        Acondicionamiento del Paquete,
                                        Envío por Courier, Recepción y Reenvío de informes, informando paso a paso
                                        el estado de sus
                                        muestras. Excelentes precios y plazos de entrega.</p>
                                </div>
                                <div class="col-md-12 col-lg-6 text-center">
                                    <img src="/assets/img/servicios3.jpg" alt="calibraciones">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}


</body>

</html>